<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_PROMOTED_NOTIFICATIONS" />

    <application>
        <activity
            android:name=".debug.NowPlayingSurfaceProbeActivity"
            android:exported="true"
            android:label="M0 Live Update Probe"
            android:theme="@style/Theme.AmbientMusicMod" />
    </application>
</manifest>
